name: MiTV_24-7_NonStop_Engine

on:
  schedule:
    - cron: '0 */5 * * *'
  push:
    paths:
      - 'playlist.m3u'
  workflow_dispatch:

jobs:
  MiTV_Cloud_Stream:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Code Checkout
        uses: actions/checkout@v3

      - name: 2. Install FFmpeg Core
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: 3. Start Professional Streaming (Adaptive Quality)
        run: |
          STREAM_URL=$(grep -v '^#' playlist.m3u | head -n 1)
          echo "MiTV Network is launching adaptive stream: $STREAM_URL"

          # timeout 5.8h taake naya server pehle hi line mein aa jaye
          # -reconnect logic ko mazboot kiya hai
          # -crf 23: Balance quality aur bitrate ke darmiyan
          # -maxrate aur -bufsize: Slow internet par buffering rokne ke liye
          
          timeout 5.8h ffmpeg -re \
          -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 -reconnect_delay_max 2 \
          -stream_loop -1 \
          -user_agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36" \
          -i "$STREAM_URL" \
          -c:v libx264 -preset veryfast \
          -crf 23 -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmp://a.rtmp.youtube.com/live2/4kpb-g391-9ym6-64er-4rag" || true
          
